body{
  /* background-image: url('../images/backgroundImg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%; */
  /* background-color: rgba(79, 171, 199, 0.486) !important; */
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');

.active{
  font-weight: 800 !important;
}

.fc-center{
  color: white !important;
}
.navBar-color{
  color: white !important;
  font-weight: 500;
}
.tableTitles{
  display: flex;
    margin-left: 20px;
    margin-top: 40px;
}
/* login design start*/
.LoginContainer{

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width: fit-content !important;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  /* text-align: right; */
}
.FlexContainer{
  display: flex;
  background-color: #eeeeee;
}
.SignIn-btn{
  width: 100%;
  border-radius: 16px;
}

h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 650 !important;

}
/* login design start*/


.CreateTask{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  margin-top: 3%;
  margin-bottom: 4%;
  border-radius: 50px;
  background-color: #eeeeee;
  border-color: transparent;
}

.fc-title{

  color: white !important;

}

table{
  background-color: #eeeeee !important;
}

.OpenTickSize{
  width: 35px;
}

.labelSpace{
  margin-bottom: -10px;
}
.contentInput{
  height: 200px;
  width: 400px;
}
.titleInput{
  width: 439px;
}
.FormCenter{
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
}
.NewTaskLabel{
font-family: 'Roboto', sans-serif;  
font-weight: 600;
  font-size: medium;
  margin-bottom: 16px;
}
.inputFeildsFont{
  font-family: 'Roboto', sans-serif;
    border-radius: 6px;
  border-color: rgb(202, 202, 202);

}
.checkboxesSpace{
  margin-right: 30px;
  margin-left: 7px;
  font-size: 20px;
}
.Checkbox-btns{
  width:47%;
  font-family: 'Roboto Slab', serif;
  background-color:  #619b96;
  border-color: transparent;
  border-radius: 8px;
  color: white;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;

}
.Checkbox-Debtns{
  width:47%;
  font-family: 'Roboto Slab', serif;
  background-color:  #b8e0d9;
  border-color: transparent;
  border-radius: 8px;
  margin-left: 10px;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;


}
.TaskSubmit-btn{
  width: 100%;
  margin-bottom: 24px;
  font-family: 'Roboto', sans-serif;
    background: #e55e5e;
  color: white;
  border-radius: 8px;
  font-size: 23px;
  border-color: transparent;

}
.fieldsSpacing{
  margin-bottom: 12px;
  margin-top: 57px
}
.loginSpacing{
  margin-bottom: 18px;
}

.backgroundimage{
  /* background-image:
  url('../images/TeamSuccesBackground.jpg'); */
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 8px;
  background-color: #3b3f3e;
  /* display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px; */
}

.logoutAni{
  width:23px;
}

.logoutAni:hover{
  width: 30px;
  transition: ease-in-out 0.4s;
}

.collapse-btn{
  
}