body{
  /* background-image: url('../images/backgroundImg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%; */
  /* background-color: rgba(79, 171, 199, 0.486) !important; */
}


.active{
  font-weight: 800 !important;
}

.fc-center{
  color: white !important;
}
.navBar-color{
  color: white !important;
  font-weight: 500;
  background-color: #7cad3e !important;
  font-family: 'Montserrat', sans-serif !important;

}
.tableTitles{
  display: flex;
    margin-left: 20px;
    margin-top: 40px;
}
/* login design start*/
.LoginContainer{

  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  width: fit-content !important;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  /* text-align: right; */
}
.FlexContainer{
  display: flex;
  background-color: #eeeeee;
}
.rightPart{
  padding-left: 60px;
}
.SignIn-btn{
  width: 100%;
  border-radius: 9px;
  background-color: #38a53e;
  border-color: transparent;
  height: 40px;
  color: white;
  transition: ease-in-out 0.3s;
}

.SignIn-btn:hover{
  background-color: #21d500;
}

h1{
  font-family: 'Montserrat', sans-serif;
    font-weight: 650 !important;

}
/* login design start*/


.CreateTask{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  margin-top: 3%;
  margin-bottom: 4%;
  border-radius: 50px;
  background-color: #eeeeee;
  border-color: transparent;
  padding: 50px;
}

.fc-title{

  color: white !important;

}

table{
  background-color: #eeeeee !important;
}

.OpenTickSize{
  width: 35px;
}

.labelSpace{
  margin-bottom: -10px;
}
.contentInput{
  height: 200px;
  width: 400px;
}
.titleInput{
  width: 472px;
}
.FormCenter{
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
}
.NewTaskLabel{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: medium;
  margin-bottom: 16px;
}
.inputFeildsFont{
  font-family: 'Montserrat', sans-serif;
      border-radius: 6px;
  border-color: rgb(202, 202, 202);

}
.checkboxesSpace{
  margin-right: 30px;
  margin-left: 7px;
  font-size: 20px;
}
.Checkbox-btns{
  width:47%;
  font-family: 'Montserrat', sans-serif;
    background-color:  #619b96;
  border-color: transparent;
  border-radius: 8px;
  color: white;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;

}
.Checkbox-Debtns{
  width:47%;
  font-family: 'Montserrat', sans-serif;
    background-color:  #b8e0d9;
  border-color: transparent;
  border-radius: 8px;
  margin-left: 10px;
  margin-top: 10px;
  font-family: 'Roboto', sans-serif;


}
.TaskSubmit-btn{
  width: 100%;
  margin-bottom: 24px;
  font-family: 'Montserrat', sans-serif;
      background: #38a53e;
  color: rgb(236, 232, 232);
  border-radius: 8px;
  font-size: 23px;
  border-color: transparent;
  transition: ease-in-out 0.3s;
}

.TaskSubmit-btn:hover{
color: white;
box-shadow: 0 5px 15px #38a53e;
}
.fieldsSpacing{
  margin-bottom: 12px;
  margin-top: 57px
}
.loginSpacing{
  margin-bottom: 18px;
}

.backgroundimage{
  /* background-image:
  url('../images/TeamSuccesBackground.jpg'); */
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 8px;
  background-color: #236477;
  /* display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px; */
}

.logoutAni{
  width:23px;

}
.welcomeText{
  margin-top: -27px;
  margin-right: 17px;
  margin-left: -20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif !important;

}
.newUserInput{
  width: 100%;
  height: 40px;
  border-radius: 11px;
  border-color: transparent;
}

.LoginBigContainer{
  /* display: flex; */
  width: 680px;
  border-radius: 15px;
  padding: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;

  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid #7aa53f;
  transition: all .2s;
  box-shadow: 12px 12px 2px 1px #7aa53f;
  
}
 
.LoginBigContainer:hover {
  box-shadow: -12px 12px 2px -1px #7aa53f;
 }

/* From cssbuttons.io by @Zena4L */
.btn:link,
.btn:visited {
 text-transform: uppercase;
 text-decoration: none;
 color: rgb(27, 27, 27);
 padding: 10px 30px;
 border: 1px solid;
 border-radius: 1000px;
 display: inline-block;
 transition: all .2s;
 position: relative;
}

.btn:hover {
 transform: translateY(-5px);
 box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.btn:active {
 transform: translateY(-3px);
}

.btn::after {
 content: "";
 display: inline-block;
 height: 100%;
 width: 100%;
 border-radius: 100px;
 top: 0;
 left: 0;
 position: absolute;
 z-index: -1;
 transition: all .3s;
}

.btn:hover::after {
 background-color: rgb(0, 238, 255);
 transform: scaleX(1.4) scaleY(1.5);
 opacity: 0;
}


.submit_btns{
  border-radius: 9px;
    height: 40px;
    width: 125px;
    border-color: transparent;
    background-color: #619b96;
    color: white;
    font-weight: 600;
    margin-left: 10px;
    transition: ease-in-out 0.3s;
}

.submit_btns:hover{
background-color: #b8e0d9;
color: black;

}

.fieldsSpacing2{
  margin-bottom: 12px;
  margin-top: 30px;
}

.textAreaSize{
  height:10em;
  width: 29.5em;
}


.lineBreak{
  display: none;
}

.AddUserPadding{
  padding-left: 80px;
padding-right: 80px;
}

#footer {
  position:fixed;
  bottom:0;
  width:100%;
}


#cardsContainer{
  display: flex;
  width:800px;
  border: solid 1px white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  justify-content: space-around;
  background-color: white;
  border-radius: 10px;
  padding: 40px;

}
.card1, .card2{
  width:287px;
  transition: ease-in-out 0.3s;
}

.cardsLabel{
  text-align: center;
  text-decoration: none !important;
  color: black;
  font-family: 'Montserrat', sans-serif;
font-size: 25px;
font-weight: 500px;
transition: ease-in-out 0.3s;
}
.cardsLabel:hover{
  font-size: 30px;
}
.logosize{
  width: 40px; 
  margin-left: 17px;
}
.logoText{
  font-family: 'Dancing Script', cursive;
  font-size: 27px;
}

.backIcon{
  transition: ease-in-out 0.3s;
}
.backIcon:hover{
  width:30px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 2.5rem !important;

}


/* media query start */
@media only screen and (min-width: 992px) and (max-width: 1800px) {

  #footer{

    height: 200px;

  }

  .LoginBigContainer {
    /* display: flex; */
    width: 583px;
    border-radius: 15px;
    padding: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 31px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid #7aa53f;
    transition: all .2s;
    box-shadow: 12px 12px 2px 1px #7aa53f;
    padding-bottom: 40px;
    
}
}

@media only screen and (max-width: 600px) {

  .titleInput {
    width: 270px;
}
.FlexContainer {
  display:block;
  background-color: #eeeeee;
}
.textAreaSize {
  height: 10em;
  width: 17em;
}
.rightPart {
   padding-left: 0px;
   margin-right: auto;
  margin-left: auto;
  width: fit-content;
}
.CreateTask {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  margin-top: 3%;
  margin-bottom: 4%;
  border-radius: 50px;
  background-color: #eeeeee;
  border-color: transparent;
  padding: 0px;
  padding-left: 14px;
  padding-right: 14px;

}

#createTitle{
  font-size: 1.5rem;
}

.TaskSubmit-btn {
  width: 88%;
  margin-bottom: 24px;
  font-family: 'Montserrat', sans-serif;
  background: #38a53e;
  color: rgb(236, 232, 232);
  border-radius: 8px;
  font-size: 23px;
  border-color: transparent;
  transition: ease-in-out 0.3s;
  margin-left: 16px;
}


.lineBreak{
display: inline;
}

#PageTitle{
  font-size: 20px;
}
.AddUserPadding{
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-top: 20px;
}


.LoginBigContainer {
  /* display: flex; */
  width: fit-content;
  border-radius: 15px;
  padding: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  background-color: rgb(255, 255, 255);
  border-radius: 14px;
  border: 1px solid #7aa53f;
  transition: all .2s;
  box-shadow: 12px 12px 2px 1px transparent;
  padding-left: 35px;
    padding-right: 33px;
}
.welcomeText{
  font-size: 25px;
  margin-right: -20px;
}
#cardsContainer {
  display: block;
  width: fit-content;
  border: solid 1px white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  justify-content: space-around;
  background-color: white;
  border-radius: 10px;
  padding: 24px;}

  .card1{
    margin-bottom: 20px;
  }

}