body{
  /* background-image: url('../images/backgroundImg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%; */
  /* background-color: rgba(79, 171, 199, 0.486) !important; */
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');



/* login design start*/
.LoginContainer{

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  width: fit-content !important;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}
.SignIn-btn{
  width: 100%;
  border-radius: 16px;
}

h1{
  font-family: 'Roboto', sans-serif;

}
/* login design start*/


.CreateTask{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  margin-top: 3%;
  border-radius: 8px;
}

.fc-title{

  color: white !important;

}

table{
  background-color: rgb(179, 223, 179) !important;
}

.OpenTickSize{
  width: 35px;
}

.labelSpace{
  margin-bottom: -10px;
}
.contentInput{
  height: 200px;
  width: 400px;
}
.titleInput{
  width: 400px;
}
.FormCenter{
  margin-right: auto;
  margin-left: auto;
  width: fit-content;
}
.NewTaskLabel{
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: medium;
}